* {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

body {
    background: var(--020-a-18, #020A18);
    font-family: 'Open Sans', sans-serif;
}

.header {
    background: rgb(11, 17, 30);

    padding-top: 39px;
    padding-bottom: 39px;

    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    gap: 40px;
}

.header__link {
    color: var(--ffffff, #FFF);
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

.top__content {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    flex-direction: row;
    gap: 128px;

    padding-top: 160px;
    padding-bottom: 197px;
}

.top__content__info {
    width: 604px;
}

.top__content__heading {
    color: var(--3-a-68-b-8, #3A68B8);
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: 160%;
    text-transform: uppercase;

    margin-bottom: 10px;
}

.top__content__title {
    color: var(--ffffff, #FFF);
    font-size: 55px;
    font-style: normal;
    font-weight: 800;
    line-height: 130%;

    margin-bottom: 40px;
}

.top__content__text {
    color: var(--ffffff, #FFF);
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: 160%;

    margin-bottom: 50px;
}

.top__content__buttons {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 20px;
}

.top__content__button {
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    display: inline-block;
    background: var(--3-a-68-b-8, #3A68B8);
    border-radius: 5px;
    padding: 15px 30px;
}

.top__content__link {
    background: var(--3-a-68-b-8, #3A68B8);
    color: var(--ffffff, #FFF);
}

.logos {
    margin-bottom: 100px;

    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    gap: 71px;
}

.top__body {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    gap: 68px;

    margin-top: 157px;
    margin-bottom: 264px;
}

.top__body__info {
    width: 484px;
}

.top__body__title {
    color: var(--ffffff, #FFF);
    font-size: 40px;
    font-style: normal;
    font-weight: 700;
    line-height: 130%;

    margin-top: 117px;
    margin-bottom: 30px;
}

.top__body__text {
    color: var(--ffffff, #FFF);
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 160%;

    margin-bottom: 50px;
}

.top__body__buttons {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 20px;
}

.top__body__button {
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    display: inline-block;
    background: var(--3-a-68-b-8, #3A68B8);
    border-radius: 5px;
    padding: 15px 30px;
}

.top__body__link {
    background: var(--3-a-68-b-8, #3A68B8);
    color: var(--ffffff, #FFF);
}

.main__body {
    background: white;
}